/* styles.css */
.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    cursor: pointer;
}

.menu-items {
    list-style: none;
    display: none;
}

.menu-items li {
    margin: 10px 0;
}

/* Mostrar el menú al hacer clic en el icono */
.menu-icon.active + .menu-items {
    display: block;
}
